log
__pycache__
.vscode
src/sf_behaviour_planning
src/sf_environmental_model
src/sf_localization
src/sf_mobile_interface
src/sf_object_detection
src/sf_spot_monitor
src/sf_spot_request
src/sf_path_planning
src/sf_route_planning
src/sf_traffic_monitoring
src/sf_v2x_com
src/sf_user_interface
src/sf_msgs
src/sf_v2x_server
src/v2x
src/sf_env
src/sf_od
src/sf_spot_request
src/sf_model_city_map
src/sf_driving_controller